<aside>
    <div>
        <h5>
            Data:
        </h5>
        <ul>
            <li>
                <a href="/panel">Get all stats</a>
            </li>
            <li><a href="/panel/part">Get all Parts</a></li>
            <li><a href="/panel/brand">Get all Brands</a></li>
            <li><a href="/panel/category">Get all Categories</a></li>
            <li><a href="/panel/contact">Get all Contacts</a></li>
            <li><a href="/panel/add/part">Add Part</a></li>
            <li><a href="/panel/add/brand">Add Brand</a></li>
            <li><a href="/panel/add/category">Add Category</a></li>
            <li><a href="/panel/add/contact">Add Contact</a></li>
        </ul>
    </div>
    <div class="copyright">
        PolishChowChow &copy;
    </div>
</aside>
