<aside>
    <h2>
        Data:
    </h2>
    <ul>
        <li><a href="/panel/parts">Parts</a></li>
        <li><a href="/panel/brands">Brands</a></li>
        <li><a href="/panel/categories">Categories</a></li>
        <li><a href="/panel/contacts">Contacts</a></li>
    </ul>
    
</aside>