<footer>
    Copyright PolishChowChow
</footer>
<script src="/js/handleLinkClick.js"></script>
<script src="/js/handleCopy.js"></script>
<script src="/js/handleMobileNav.js"></script>
<script src="/js/controller.js"></script>
</body>
</html>