<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/shop-styles.css">
  </head>
  <body>
    <header>
      <div>
        <div class="logo">
          Logo
        </div>
        <nav class="desktop-nav">
          <ul>
            <li data-header-link class="link-container"><a href="/shop/about">About</a></li>
            <li data-header-link class="link-container"><a href="/shop/categories">Categories</a></li>
            <li data-header-link class="link-container"><a href="/shop/parts">Parts</a></li>
            <li data-header-link class="link-container"><a href="/shop/contact">Contact</a></li>
            <li data-header-link class="link-container"><a href="/panel">Panel</a></li>
          </ul>
        </nav>
        <div class="icon">
          <button data-nav-btn id="btn-nav">
            nav
          </button>
        </div>
      </div>
      <div class="mobile-nav" data-mobile-nav>
        <nav>
          <ul>
            <li data-header-link class="link-container"><a href="/shop/about">About</a></li>
            <li data-header-link class="link-container"><a href="/shop/categories">Categories</a></li>
            <li data-header-link class="link-container"><a href="/shop/parts">Parts</a></li>
            <li data-header-link class="link-container"><a href="/shop/contact">Contact</a></li>
            <li data-header-link class="link-container"><a href="/panel">Panel Icon</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
