<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/global-settings.css">
    <link rel="stylesheet" href="/stylesheets/panel-styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/panel">Logo</a>
        </div>
        <div class="logout">
            <a href="/panel/logout">Logout</a>
            <a href="/shop">Shop</a>
        </div>
    </header>