<%-include("components/header")%>
<main>
    <h2>Contacts</h2>
    
    <div class="contacts">
        <%contacts.forEach(contact => { %>
            <div class="item"><%=contact.name%>: <span class="copy-link" data-copy><%=contact.value%></span></div>
        <% }) %> 
    </div>

</main>
<%-include("components/footer")%>