<%-include("components/header")%>
<main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, est. Omnis quo nesciunt libero, unde dolor illo iusto quod, tempora consequuntur repellendus magnam dignissimos accusantium reprehenderit error, ducimus nisi ipsa.
    <h3>sponsors:</h3>

    <%brands.forEach(brand => { %>
        <div><%=brand.name%></div>
    <% }) %> 

</main>
<%-include("components/footer")%>