<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global-settings.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Panel</title>
</head>
<body class="">
    <h2>Login Form</h2>
    <form action="/panel/login" method="post">
        <div>
            <label for="username">
                Username:<br>
                <input type="text" name="username" id="username">
            </label>
        </div>
        <div>
            <label for="password">
                Password:<br>
                <input type="password" name="password" id="password">
            </label>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>