/*variables*/

h2{
  text-align: center;
  margin: 50px;
}
img{
  width: 200px;
}
main{
  margin: 0 auto;
  width: 80%;
  flex: 1;
}
main.no-margin{
  width: 100%;
}
.items{
  display: grid;
  gap: var(--padding-small);
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


/*header*/
header > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  padding: 0 30px;
  background-color: var(--color-light);
  font-size: var(--font-small);
}
header ul{
  margin: 0;
  display: flex;
  list-style-type: none;
}
header .mobile-nav ul{ 
  flex-direction: column;
}
.link-container{
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: var(--padding-small);
  border: var(--border-thin-2) transparent;
  transition: var(--default-transition);
}
.link-container:hover{
  border-bottom-color: var(--color-primary-dark);
}
.link-container > a{
  color: var(--color-primary-dark);
  text-decoration: none;
}
/*mobile navigation*/
.mobile-nav{
  display: none;
}
.mobile-nav.active{
  display: block;
}
.icon{
  display: none;
}
#btn-nav{
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  padding: var(--padding-very-small);
  border: var(--border-thin-1) var(--color-dark-gray);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-very-small);
}

/*home page*/
.intro{
  background-image: url("https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: cover;
  position: relative;
}
.intro div{
  background-color: var(--shadow-on-box-medium);
  width: 100%;
  height: 100%;
  color: var(--color-light);
  padding: 200px 0;
  text-align: center;
  font-size: var(--font-very-large);
  font-weight: bold;
}
#see-more-btn{
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 12px var(--padding-small);
  border: var(--border-thin-1) var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-small);
  transition: var(--default-transition);
  font-weight: normal;
}
#see-more-btn:hover{
  background-color: var(--color-light);
  color: var(--color-primary);
  text-decoration: none;
}
.desc{
  width: 70%;
  margin: auto;
  padding: 50px;
  font-size: var(--font-medium);
}
.desc > h2{
  margin: var(--padding-small);
}
.brands{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
  gap: var(--padding-small);
}
.brand{
  width: 200px;
  padding: var(--padding-small);
  transition: var(--default-transition);
  border-bottom: var(--border-thin-2) transparent;
  cursor: pointer;
  color:  var(--color-primary-dark);
  font-weight: bold;
}
.brand:hover{
  text-decoration: none;
  border-bottom: var(--border-thin-1) var(--color-primary-dark);
}


/*categories page*/
.items.categories{
  place-items: center;  
}
.items.categories > .item{
  position: relative;
  width: 300px;
  height: 500px;
  background-color: var(--color-light);
  background-image: url("https://images.pexels.com/photos/159293/car-engine-motor-clean-customized-159293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.items.categories > .item > .shadow{
  position: absolute;
  z-index: 1;
  background-color: var(--shadow-on-box-light);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  font-size: var(--font-large);
  box-shadow: 3px 3px 3px var(--shadow-on-box-medium);
}
.items.categories > .item > .shadow:hover{
  background-color: var(--shadow-on-box-medium);
  transition: var(--default-transition);
}


/*parts page*/
.item-center{
  display: grid;
  place-items: center;
}
.item-container{
  display: flex;
}
.item-container > div{
  flex: 1;
}

/*part page*/
.cards{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.info-card{
  display: flex;
  gap: var(--padding-medium);
  margin: 0 auto;
  width: 70%;
}
.info-card > .content{
  flex: 1;
}
.info-card.reverse{
  flex-direction: row-reverse;
}
.about-img{
  width: unset;
}
.logo{
  font-size: var(--font-large);
  color: black;
  text-decoration: none;
}




/*contact*/
.contacts{
  margin: 0 auto;
  width: 33%;
}
a, span.copy-link{
  font-size: var(--font-small);
  color: var(--color-primary);
  text-decoration: none;
}
a:hover, span.copy-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*foooter*/
footer{
  margin-top: var(--padding-small);
  text-align: center;
  font-size: medium;
  padding: var(--padding-small);
  background-color: var(--color-dark);
  color: var(--color-light);
}

/*media queries*/
@media screen and (max-width:780px) {
  .desktop-nav{
    display: none;
  }
  ul{
    padding: 0;
  }
  header > div {
    justify-content: space-between;
    font-size: medium;
    padding: var(--padding-small);
  }
  .icon{
    display: block;
  }
  main{
    width: 100%;
  }
}
